<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3">
        <mat-form-field class="search-form">
          <input matInput placeholder="Search company" type="text" [(ngModel)]=filterKey>
        </mat-form-field>
        <!--<button button="submit" mat-raised-button color="primary">Search</button>-->
      </div>
      <div class="mdc-layout-grid__cell--span-3">
          <mat-form-field>
              <mat-select placeholder="Sort by" [(ngModel)]="sortBy" name="sortBy">
                <mat-option *ngFor="let column of columns" [value]="column.value">
                  {{column.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="mdc-layout-grid__cell--span-3" style="margin-top: 20px;">
          <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="tradingActive"
            (change)="onChanged($event)">
            Trading Active
      </mat-slide-toggle>
      </div>
      <div class="mdc-layout-grid__cell--span-3" style="margin-top: 20px;">
          <mat-checkbox class="example-margin" 
            [(ngModel)]="eis" 
            (change)="onChange('eis')">EIS</mat-checkbox> &nbsp;&nbsp;
          <mat-checkbox 
            [(ngModel)]="seis"
            (change)="onChange('seis')">SEIS</mat-checkbox>
      </div>
      
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3" 
        *ngFor="let opportunity of filteredOpportunities | filterBy: ['company']: filterKey | orderBy: sortBy">
        <mat-card>
          <mat-card-title>
            {{opportunity?.company}}
            <span class="active-status"
            matTooltip="{{ opportunity?.tradingActive ? 'Active' : 'Not active' }}" 
            [matTooltipPosition]="'above'"
            [ngClass]="{'active': opportunity.tradingActive, 'not-active': !opportunity.tradingActive}">
                <mat-icon *ngIf=opportunity.tradingActive>check_circle</mat-icon>
                <mat-icon *ngIf=!opportunity.tradingActive>remove_circle</mat-icon>
            </span>
          </mat-card-title>
          <!--<mat-card-subtitle>{{ opportunity.tradingActive ? 'active': 'not active'}}</mat-card-subtitle>-->
          <mat-card-content>
            <ul>
              <li>Average investment: {{opportunity?.averageInvestment | currency:'GBP'}}</li>
              <li>Raised in total: {{ opportunity?.totalRaised | currency:'GBP'}}</li>
              <li>Enterprise Investment Scheme tax relief: {{ opportunity?.eis}}</li>
              <li>Seed Enterprise Investment Scheme tax relief: {{ opportunity?.eis}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
