<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%" *ngFor="let opportunity of opportunities">    
    <mat-card>
      <mat-card-title>{{opportunity?.company}}</mat-card-title>
      <mat-card-subtitle>{{opportunity?.company}}</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>{{opportunity?.total}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

